---
layout: default
---

<!-- Header -->
	<section id="header">
		<header>
			{% include hero.html %}
		</header>
		<footer>
			<a href="#banner" class="button style2 scrolly">Benvingudes</a>
		</footer>
	</section>

<!-- Banner -->
	<section id="banner">
		<header>
			<h2>Reapropiem-nos de la vida</h2>
		</header>
		<article class="container box-alt intro">
			<div class="inner">
				<p>Aquesta 4a edició de la <a href="http://www.firaesc.org/" target="_blank">Fira d’Economia Solidària de Catalunya</a> es presenta amb la voluntat expressa de posar la vida al centre. La FESC ens convida a canviar la nostra mirada sobre l’economia, la societat i el medi ambient. Ens ajuda a conèixer-nos, créixer i enfortir-nos amb experiències que deixaran petjada en nosaltres.</p>
				<p>Amb aquesta web volem conservar l’energia i l’esperit de les persones i organitzacions que durant aquest dos dies compartim espai, converses i coneixements. Us convidem a participar i construir-la entre totes al llarg d’aquestes jornades, aportant les vostres reflexions i comentaris a mode de llibre de visita.</p>
			</div><!--
			--><div class="inner">
				<p>Recollir l’empremta de la <a href="https://twitter.com/hashtag/FESC2015" target="_blank">#FESC2015</a> és la nostra manera de contribuir-hi i posar al centre la vida, els instants de vida que esdevindran rere els murs de Fabra i Coats aquest cap de setmana.</p>
				<p>Al mapa d’expositors trobareu totes les organitzacions que participen en aquesta edició, amb enllaços a les seves webs, organitzades en colors per eixos temàtics i ubicades geogràficament.</p>
				<p>A la part inferior les persones sou les protagonistes. Deixeu el vostre missatge i feu crèixer la web. Només heu de visitar l’stand d’Adab1ts a la secció Serveis i escriure les vostres aportacions, que veureu publicades en temps real.</p>
			</div>
		</article>
		<div class="container box-alt map">
			<iframe src="https://klaudiadevel.cartodb.com/viz/ffeb2ada-7021-11e5-8d66-0ecfd53eb7d3/embed_map"></iframe>
		</div>
		<footer>
			<a href="#postcard_1" class="button style2 scrolly">Participa!</a>
		</footer>
	</section>

<!-- Guestbook -->
	{% for postcard in site.posts %}
	<article id="postcard_{{ forloop.index }}" class="container box style1 {% cycle 'right', 'left' %}">
		<a href="#postcard_{% if forloop.last %}1{% else %}{{ forloop.index | plus: 1 }}{% endif %}" class="image fit scrolly"><img src="{{ postcard.image_path }}" alt="{{ postcard.author }}"></a>
		<div class="inner">
			<header>
				<h2>{{ postcard.author }}</h2>
				<span class="datetime">{{ postcard.date | date: "%d/%m/%Y %R" }}</span>
			</header>
			{{ postcard.content }}
		</div>
	</article>
	{% endfor %}

<!-- Gallery -->
	{% if site.data.gallery.size > 0 %}
	<article class="container box style2">
		<header>
			<h2>La FESC 2015 en imatges</h2>
		</header>
		<div class="inner gallery">
		{% for photo in site.data.gallery %}
			{% capture mod %}{{ forloop.index | modulo: 4 }}{% endcapture %}
			{% case mod %}
				{% when '1' %}
					<div class="row 0%">
						<div class="3u 12u(mobile)"><a href="{{ photo.image_path }}" class="image fit"><img src="{{ photo.thumb_path }}" alt="{{ photo.description }}" title="{{ photo.date }} - {{ photo.title }}"></a></div>
				{% when '0' %}
						<div class="3u 12u(mobile)"><a href="{{ photo.image_path }}" class="image fit"><img src="{{ photo.thumb_path }}" alt="{{ photo.description }}" title="{{ photo.date }} - {{ photo.title }}"></a></div>
					</div>
				{% else %}
						<div class="3u 12u(mobile)"><a href="{{ photo.image_path }}" class="image fit"><img src="{{ photo.thumb_path }}" alt="{{ photo.description }}" title="{{ photo.date }} - {{ photo.title }}"></a></div>
			{% endcase %}
		{% endfor %}
		</div>
	</article>
	{% endif %}

<!-- Contact -->
	<article class="container box style3">
		<header>
			<h2>Contacte</h2>
			<p>Si us agrada la web i voleu saber més de nosaltres&hellip;</p>
		</header>
		<form name="fesc2015" action="thank-you" netlify>
			<div class="row 50%">
				<div class="6u 12u$(mobile)"><input type="text" class="text" name="name" placeholder="Nom i cognoms" required></div>
				<div class="6u$ 12u$(mobile)"><input type="email" class="text" name="email" placeholder="Email" required></div>
				<div class="12u$">
					<textarea name="message" placeholder="Missatge" required></textarea>
				</div>
				<div class="12u$">
					<ul class="actions">
						<li><input type="submit" value="Enviar"></li>
					</ul>
				</div>
			</div>
		</form>
	</article>
